@charset "utf-8";
/* CSS Document */

/*Custom style for types of plans*/
article.types_of_plans section{
	text-align:center;
	outline-style:solid;
	outline-color:black;
	outline-width:1px;
	margin-bottom:10px;
}
article.types_of_plans table{
	width:100%;
	text-align:center;
	vertical-align:middle;	
}
article.types_of_plans .acc_content_header{
	text-align:left; /*override default class setting*/
}


/*Custom style for workflow for ozp*/
#workflow_of_ozp img,#workflow_of_s6x img{
	display: block;
	margin-left:auto;
	margin-right:auto;	
}
#workflow_of_ozp section,#workflow_of_s6x section{
	outline-width:1px;
	outline-color:black;
	outline-style:solid;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:60%;	
}
#workflow_of_ozp ul,#workflow_of_s6x ul{
	text-align:left;
}*
/*
article.workflow_of_ozp img{
	display: block;
	margin-left:auto;
	margin-right:auto;
}

article.workflow_of_ozp section{
	outline-width:1px;
	outline-color:black;
	outline-style:solid;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:60%;
}
article.workflow_of_ozp ul{
	text-align:left;
}*/